<title><%= t ".title" %></title>
<%= link_to t(".english"), locale: "en" %>
<%= link_to t(".vietnamese"), locale: "vi" %>
<h1><%= t ".sample_App" %></h1>
<p>
  <%= t ".this_is_the_home_page_for_the" %>
  <%= link_to t(".railstutorial"), Settings.link1 %>
  <%= t ".sample_application" %>
</p>
